<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!--
    归档列表通用 fragment：tag.html / category.html / author.html 等以"标签/分类/作者维度展示文章列表"的页面共用
    参数：
      pageClass   - 容器额外 class，如 page-tag / page-category
      headerName  - 当前归档维度的展示名（如 tag.spec.displayName）
      paginationFragment - 分页 fragment 名（如 tag / category），对应 modules/common/pagination 中的对应片段
  -->
  <th:block th:fragment="archive_list (pageClass, headerName, paginationFragment)">
    <div
      class="joe_container joe_main_container"
      th:classappend="|${pageClass} ${theme.config.theme.enable_show_in_up ? 'animated fadeIn':''}|"
    >
      <div class="joe_main">
        <div class="joe_archive">
          <div class="joe_archive__title">
            <div class="joe_archive__title-title">
              <i class="joe-font joe-icon-feather joe_archive__title-icon"></i>以下是
              <span class="muted ellipsis">[[${headerName}]]</span>
              <span>相关的文章</span>
            </div>
          </div>
          <ul class="joe_archive__list joe_list">
            <th:block th:each="post, iteration : ${posts.items}">
              <th:block th:replace="~{modules/macro/post_item :: post_item}" />
            </th:block>
          </ul>
          <th:block th:replace="~{modules/common/pagination :: __${paginationFragment}__}" />
        </div>
      </div>
    </div>
  </th:block>
</html>
