<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = ${category.spec.displayName}+'-'+${site.title},htmlType = category,header = null,leftSidebar = true,content = ~{::content}, head = null, footer = null)}"
>
  <th:block th:fragment="content">
    <body>
      <div id="Joe">
        <th:block th:replace="~{modules/macro/navbar :: navbar}" />
        <!--          首页大图-->
        <th:block th:if="${theme.config.beauty.enable_big_banner}">
          <th:block th:replace="~{modules/macro/big_banner :: big_banner(${title})}" />
        </th:block>
        <th:block
          th:replace="~{modules/common/archive_list :: archive_list('page-category', ${category.spec.displayName}, 'category')}"
        />
        <th:block th:replace="~{modules/common/actions :: actions}" />
        <th:block th:replace="~{modules/common/footer :: footer}" />
      </div>
      <th:block th:replace="~{modules/macro/tail :: tail}" />
    </body>
  </th:block>
</html>
